# Порт, на котором API доступен снаружи контейнера
FILESTORAGE_PORT=8080

# Абсолютный путь на сервере, куда сохраняются файлы.
# При пересоздании контейнера данные в этой папке сохраняются.
FILESTORAGE_DATA_PATH=/opt/elist/filestorage/data
