<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="trace"
      internalLogFile="c:\temp\tm.reports\TM.Reports.API_internal_log.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch" />
  </extensions>

  <variable name="msgLayout" value="${longdate} ${uppercase:${level}} [${threadid}] ${callsite}: ${message}" />
  <variable name="excLayout" value="${exception:format=Type,Message,StackTrace:maxInnerExceptionLevel=9:innerFormat=Type,Message,StackTrace:separator=&#13;&#10;}" />
  <variable name="fullLayout" value="${msgLayout} ${excLayout}" />
  <variable name="msgLayoutCon" value="${longdate} ${uppercase:${level}} ${message}" />
  <variable name="fullLayoutCon" value="${msgLayoutCon} ${exception:format=Type,Message}" />
  <variable name="localLayout" value="${uppercase:${level}} -- ${longdate} ${newline}
    correlationId: ${event-context:item=correlationId} ${newline}
    IdLpu: ${event-context:item=idLpu} ${newline}
    Logger: ${logger} ${newline}
    ClientIP: ${event-context:item=clientIP} ${newline}
    SystemGuid: ${event-context:item=systemGuid} ${newline}
    Message: ${message} ${newline}
    IncomingMessage: ${event-context:item=incomingMessage} ${newline}
    ExecTime(ms): ${event-context:item=execTime} ${newline}
    ExecLayout: ${excLayout} ${newline}
    Meta: ${event-context:item=meta}" />

  <targets>
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" uri="http://192.168.8.224:9200/" index="hub">
        <field name="user" layout="TestSample" />
        <field name="host" layout="${machinename}" />
        <field name="logger" layout="${logger}" />
        <field name="level" layout="${uppercase:${level}}" />
        <field name="threadid" layout="${event-context:item=correlationId}" />
        <field name="systemguid" layout="${event-context:item=systemGuid}" />
        <field name="methodname" layout="${event-context:item=methodName}" />
        <field name="id_lpu" layout="${event-context:item=idLpu}" />
        <field name="incomingmessage" layout="${event-context:item=incomingMessage}" />
        <field name="message" layout="${message}" />
        <field name="exception" layout="${excLayout}" />
        <field name="exectime" layout="${event-context:item=execTime}" />
        <field name="clientip" layout="${event-context:item=clientIP}" />
        <field name="meta" layout="${event-context:item=meta}" />
      </target>
    </target>

    <target xsi:type="File" name="local" layout="${localLayout}" fileName="c:\logs\tm.filestorage\TM.Filestorage.Api_log.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="elastic" />
    <logger name="*" minlevel="Info" writeTo="local" />
  </rules>
</nlog>
